body 
{
padding-top: 10px;
}
[class*="col-"], footer 
{
/*background-color: lightgreen;*/
background-color: white;
border: 0px solid black;
border-radius: 6px;
line-height: 40px;
text-align: center;
}
.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
@media (min-width: 768px) {
.container {
width: 750px;
}
}
@media (min-width: 992px) {
.container {
width: 970px;
}
}
@media (min-width: 1200px)
{
.container {
width: 1170px;
}
.col-lg-offset-6 
{
margin-left: 50%;
}
.col-lg-offset-2 
{
margin-left: 11.1%;
}
}
.borde
{
	background-color:gray;
	height: 200px; 
}
.borde1
{
	background-color:aquamarine;
	height: 50px; 
	
}
.borde2
{
	height: 50px;
	text-align: center;
	background-color:olivedrab;
}
.borde3
{
	height: 50px;
	text-align: center;
	background-color:orangered;
	
}

/*-------ESTILO DISEÑO PAGINA*/
#principal
{
    width: 900px;
    height: auto; overflow: hidden;
    border: 0px solid #000;
    margin:auto;
}
.header
{
    width: 900px;
    height: 100px;
    border: 0px solid #000;
}
#logo
{
    width: 200px;
    height: 100px;
    border: 0px solid #000;
    float: left; font-family: sans-serif;
}
.titulo
{
    margin-top: 25px;
    font-size: 30px;
}
.sub-titulo
{
    font-size: 14px;
    margin-top: -20px;
}
.menu
{
    width: 500px;
    height: 40px;
    border:1px solid #ccc;
    float:  right;
    margin-top: 40px;
    background: #006699;
}
.menu ul{}
.menu ul li
{
    list-style: none;
    float: left;
}
.menu ul li a
{
    text-decoration: none;
    padding: 10px 15px;
    border:0px solid #ccc;
    color:#fff;
}
.menu ul li a:hover
{
    background: #fff;
    color: #006699;
    transition: background 1s,color 1s;
}
#slide
{
    margin-top: -5px;
    width: 1000px;
    height: 200px;
}
#categorias
{
    width: 900px;
    height: auto;   overflow: hidden;   
    border:0px solid;
    margin-top: 15px;
}
.uno
{
    width:  280px;
    height: auto;overflow:  hidden; 
    border:1px solid #ccc;
    float: left;
    padding: 5px;
    text-align: center;
    color:  #4682b4;
}
.parrafo
{
    color:  #707070;
    text-align: justify;    
}
.dos
{
    margin-left: 12px;
    margin-right: 12px;
}
.leer-mas
{
    text-decoration: none;
    border:1px solid #006699;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}
.leer-mas:hover
{
    background:  #006699;
    color: #fff;
    transition: background 1s,color 1s;
}
#info
{
    width: 900px;
    height: auto; overflow: hidden;
    border:0px #c0c0c0;
    margin-top: 10px;
}
#izq
{
    width: 585px;
    height: auto; overflow: hidden;
    border:1px solid #ccc;
    float: left;
    padding: 5px;
    color: #4682b4;
}
.img
{
    margin-right: 7px;
    margin-left: 7px;
}
#der
{
    width: 290px;
    height: 350px;
    border:1px solid #ccc;
    float: right;
}
#formulario
{
    width: 432px;
    height: auto;
    overflow: hidden;
    border:1px solid #ccc;
    padding: 5px;
    float: left;
}
.titulo-contacto
{
    font-size: 30px;
    font-family: sans-serif;
}
input[type="text"]
{
    border:1px solid #c1c1c1;
    padding: 6px;
    width: 97%;
}
textarea
{
    border:1px solid #c1c1c1;
    padding: 6px;
    width: 97%;
}
input[type="mailto"]
{
    border:1px solid #c1c1c1;
    padding: 6px;
    width: 97%;
}
.enviar
{
    padding: 10px 20px;
    background: #006699;
    color: #fdfdfd;
    font-size: 16px;
}
.enviar:hover
{
    background:#fdfdfd;
    color:#006699;
    transition: background 1s,color 1s;
}
#datos
{
    margin-top:30px;
}
#mapa
{
    width: 568px;
    height: auto;
    overflow:   hidden; 
    border:1px solid #ccc;
    float: right;   
}
img {
    max-width:100%;
}
video
{
    width:100%;
}
#contenido
{
    /*Le ponemos estilos al article contenedor de la imagen*/
    background: #243;
    border-radius: .2em;
    color: white;
    margin: 0 auto;
    max-width: 95%;
    text-align: center;
}

#oculto
{
    /*Con esta instruccion hacemos q el texto a mostrar este oculto de manera predeterminada al ingresar a la pagina por primera ves*/
    display: none;
}

#premio,#premio1,#premio2
    {
      display: none;
    }
#video_background
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: 0px;
    right: 0%;
    min-width: 400%;
    min-height: 400%
    width:auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}



.social {
    position: fixed;
    right: 0; 
    top: 150px;
    z-index: 2000; 
}
 
.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 12px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; 
}

.social ul li .icon-facebook2 {background:#3b5998;}
.social ul li .icon-twitter {background: #00abf0;}
.social ul li .icon-instagram {background: #ae186a;}
.social ul li .icon-whatsapp {background: #026931;}

.social ul li a:hover {
    background: #000;
    padding:10px 30px;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?fz6ynw');
    src:  url('fonts/icomoon.eot?fz6ynw#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?fz6ynw') format('truetype'),
      url('fonts/icomoon.woff?fz6ynw') format('woff'),
      url('fonts/icomoon.svg?fz6ynw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
   
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
 
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  